<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>
    <form action='/madlib'>
        <h3>Great! Give me a...</h3>
        <label>Person: <input type="text" name="person"></label>
        <br>
        Color: 
        <select name="color"> 
            <label><option value="red">Red</option></label>
            <label><option value="orange">Orange</option></label>
            <label><option value="yellow">Yellow</option></label>
            <label><option value="green">Green</option></label>
            <label><option value="blue">Blue</option></label>
            <label><option value="purple">Purple</option></label>
            <label><option value="pink">Pink</option></label>
            <label><option value="white">White</option></label>
            <label><option value="brown">Brown</option></label>
            <label><option value="black">Black</option></label>
        </select>
        <br>
        <label>Noun: <input type="text" name="noun"></label>
        <br>
        <label>Adjective*: <input type="text" name="adjective"></label>
        <br>
        <br>
        <input type="submit">
    </form>
    <br>
    <br>
    <br>
    <footer>*Adjectives are words that describe or modify another person or thing.</footer>
</body>
</html>