{% extends "base.html" %}

{% block title %}Game{% endblock %}

{% block content %}
    <form action='/madlib' method='GET'>
        <h3>Great! Give me a...</h3>
        <label>Person: <input class="text-box" type="text" name="person"></label>
        <br>
        <br>
        Color:
            <label><input id="red-box" type="checkbox" name="color" value="red">Red</label>
            <label><input id="orange-box" type="checkbox" name="color" value="orange">Orange</label>
            <label><input id="yellow-box" type="checkbox" name="color" value="yellow">Yellow</label>
            <label><input id="green-box" type="checkbox" name="color" value="green">Green</label>
            <label><input id="blue-box" type="checkbox" name="color" value="blue">Blue</label>
            <label><input id="purple-box" type="checkbox" name="color" value="purple">Purple</label>
            <label><input id="pink-box" type="checkbox" name="color" value="pink">Pink</label>
            <label><input id="white-box" type="checkbox" name="color" value="white">White</label>
            <label><input id="brown-box" type="checkbox" name="color" value="brown">Brown</label>
            <label><input id="black-box" type="checkbox" name="color" value="black">Black</label>
        <br>
        <br>
        <label>Noun: <input class="text-box" type="text" name="noun"></label>
        <br>
        <br>
        <label>Adjective*: <input class="text-box" type="text" name="adjective"></label>
        <br>
        <br>
        <br>
        <input class="submit-button" type="submit">
    </form>
    <br>
    <br>
    <br>
    <footer>*Adjectives are words that describe or modify another person or thing.</footer>
{% endblock %}